<!DOCTYPE html>
<html lang="ja">
<head>
        <form action="/top" method="post">
                <input name="mozi1"type="text"></br>
                <input name="mozi2" type="text">
                <button type="submit">ボタン</button>
        </form>
        <h1><%=name%></h1>
</head>

</html>
<script>
</script>