<html>
  <head>
    <title>ログイン</title>
  </head>
  <body>
    <form action="/login" method="POST">
      UserId:<input type="text" name="user_id"/><br/>
      Password:<input type="password" name="password"/><br/>
      <input type="submit" name="Login"/>
    </form>
    <p><%= message %></p>
  </body>
</html>
